.navbar {
  display: flex;
  margin: auto;
  max-width: 600px;
  align-items: center;

}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  color: white;
  background-color: palevioletred;
  padding: 5px;
  border-radius: 3px;
}

.content {
  margin: auto;
  max-width: 600px;
}

.blog-preview a {
  text-decoration: none;
}

.create label {
  display: block;
  margin: 10px 0;
  text-align: left;
}

.create input,
textarea,
select {
  width: 100%;
}

.create {
  width: 300px;
  text-align: center;
}

.create button {
  margin-top: 10px;
}